@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}

<h2>Reference</h2>

<p>Iako je ovaj projekt nastao tek prije 2-3 dana, brojne tvrtke već koriste MailPig:</p>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">TVZ</div>
            <div class="panel-body">
                <img src="~/Content/tvz.png" alt="TVZ" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Peppa Pig</div>
            <div class="panel-body">
                <img src="~/Content/peppapig.png" alt="Peppa Pig" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ministarstvo poljoprivrede</div>
            <div class="panel-body">
                <img src="~/Content/mprrr.jpg" alt="Ministarstvo poljoprivrede" />
            </div>
        </div>
    </div>
</div>