@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "../Shared/_WelcomeLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Provjeri svoj e-mail sandučić i klikni na link unutar e-maila za resetiranje lozinke.
    </p>
</div>