@{
    ViewBag.Title = "Uspješno resetirana lozinka";
    Layout = "../Shared/_WelcomeLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Lozinka uspješno resetirana. @Html.ActionLink("Klikni ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>