@model MailPig.Web.Models.EmailEditCreateModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Emails", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Uređivanje e-maila</h4>
        <hr />

        @Html.Partial("_EditCreate", Model)

        <div class="form-group">
            <div class="col-xs-12 text-right">
                <a class="btn btn-warning" href="@Url.Action("Index", "Emails")"><i class="glyphicon glyphicon-chevron-left"></i> Odustani</a>
                <a class="btn btn-success" onclick="submitForm(this)"><i class="glyphicon glyphicon-check"></i> Spremi promjene</a>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function submitForm(elem) {
            $(elem).closest('form').submit();
        }
    </script>
}