body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.max-width {
    max-width: 100% !important;
}

.light-well {
    background-color: #FCFCFC;
    border-color: #DDDDDD;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.glyphicon-lg {
    font-size: 1.7em;
}

.number-lg {
    font-size: 1.5em;
    margin-right: 10px;
}

.text-lg {
    font-size: 1.25em;
    padding-bottom: 8px;
}

.pointy {
    cursor: pointer;
}

textarea {
    height: 350px;
}

img {
    width: 100%;
}